<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet-mapping>
        <servlet-name>Playback</servlet-name>
        <url-pattern>/Playback</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Playback</servlet-name>
        <servlet-class>cwh.web.servlet.playback.PlayBack</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionClean</servlet-name>
        <url-pattern>/SessionClean</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SessionClean</servlet-name>
        <servlet-class>cwh.web.servlet.SessionClean</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RealPlay</servlet-name>
        <url-pattern>/RealPlay</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RealPlay</servlet-name>
        <servlet-class>cwh.web.servlet.realplay.RealPlay</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>cwh.web.servlet.Test</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>cwh.web.servlet.file.Download</servlet-class>
    </servlet>

    <listener>
        <listener-class>cwh.web.listener.CleanListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>